# directories in any part of the tree
__pycache__
debug

# exact directories
.vscode/*
data/*
pretrained_models/

# exceptions
!data/skeletons
!.vscode/launch.json
!.vscode/launch_local.json

# file extensions
*.prof
