# directories in any part of the tree
__pycache__
debug

# exact directories
.vscode/*
data/*
pretrained_models/*
pretrained_models/pku-mmd/*
.ipynb_checkpoints/

# exceptions
!data/skeletons
!pretrained_models/pku-mmd/
!pretrained_models/**/train-validation-curve.ods
!.vscode/launch.json

# file extensions
*.prof

# named files anywhere
mail_draft*.txt
